:root {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.people {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: auto;
  column-gap: 30px;
  row-gap: 40px;
  margin: 30px auto 0;
  justify-content: center;
}

.person:nth-child(1)::after {
  width: 100%;
  height: 100%;
  content: "Boxing, $285M";
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 400;
  color: transparent;
  transition: color 1s linear;
  z-index: 100;
}

.person:nth-child(2)::after {
  width: 100%;
  height: 100%;
  content: "Soccer, $111M";
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 400;
  color: transparent;
  transition: color 1s linear;
  z-index: 100;
}

.person:nth-child(3)::after {
  width: 100%;
  height: 100%;
  content: "Soccer, $108M";
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 400;
  color: transparent;
  transition: color 1s linear;
  z-index: 100;
}

.person:nth-child(4)::after {
  width: 100%;
  height: 100%;
  content: "Mixed Martial Arts, $99M";
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 400;
  color: transparent;
  transition: color 1s linear;
  z-index: 100;
}

.person:nth-child(5)::after {
  width: 100%;
  height: 100%;
  content: "Soccer, $90M";
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 400;
  color: transparent;
  transition: color 1s linear;
  z-index: 100;
}

.person:nth-child(6)::after {
  width: 100%;
  height: 100%;
  content: "Basketball, $85.5M";
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 400;
  color: transparent;
  transition: color 1s linear;
  z-index: 100;
}

.person:nth-child(7)::after {
  width: 100%;
  height: 100%;
  content: "Tennis, $77.2M";
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 400;
  color: transparent;
  transition: color 1s linear;
  z-index: 100;
}

.person:nth-child(8)::after {
  width: 100%;
  height: 100%;
  content: "Basketball, $76.9M";
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 400;
  color: transparent;
  transition: color 1s linear;
  z-index: 100;
}

.person:nth-child(9)::after {
  width: 100%;
  height: 100%;
  content: "Football, $67.3M";
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 400;
  color: transparent;
  transition: color 1s linear;
  z-index: 100;
}

.person:nth-child(10)::after {
  width: 100%;
  height: 100%;
  content: "Football, $59.5M";
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 400;
  color: transparent;
  transition: color 1s linear;
  z-index: 100;
}

.person {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s linear;
  width: 200px;
  height: 231px;
  cursor: pointer;
}

.person:hover .photo,
.person:hover .rank,
.person:hover .details {
  z-index: 30;
}

.person::before {
  content: "";
  width: 220px;
  height: 287px;
  position: absolute;
  left: 50%;
  top: -10px;
  border-radius: 10px;
  transition: background-color 1s linear, transform 1s linear, color 1s linear;
  transform: translateX(-50%);
}

.person:hover::before {
  z-index: 20;
  background-color: #EEEEEE;
  transform: translateX(-50%) scale(1.2, 1.2003484321);
  color: black;
  transition: background-color 1s linear, transform 1s linear 1s, color 1s linear;
}

.person:hover::after {
  z-index: 21;
  color: black;
  bottom: -50px;
  transition: color 1s linear, bottom 1s linear 1s;
}

.photo {
  margin-bottom: 8px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 10;
  overflow: hidden;
}
.photo img {
  transform: scale(1);
  width: 200px;
  height: 200px;
  transition: transform 1s linear, border-radius 1s linear;
}

.person:hover .photo img {
  transition: transform 1s linear 1s, border-radius 1s linear 1s;
  transform: scale(240/200);
}

.rank {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #8B0000;
  font-weight: 700;
  font-size: 16px;
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  z-index: 10;
}

.name {
  color: #2F4F4F;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  z-index: 10;
}

.extra {
  display: none;
}

@media screen and (min-width: 500px) and (max-width: 999px) {
  .people {
    grid-template-columns: repeat(2, 200px);
  }
}
@media screen and (min-width: 320px) and (max-width: 499px) {
  .people {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=main.css.map */
